.posts-listing-page{
    .section-header{
        margin: 0;
    }
    .post-header{
        margin: 0;
    }
    .list-section{
        .post-list-item{
            padding: 20px 0;
            border-bottom: 1px solid black;
        }
    }
}